@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white relative font-sans h-screen overflow-x-hidden
  }
}

/* For modern browsers */
::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;  /* for Internet Explorer, Edge */
  scrollbar-width: none;     /* for Firefox */
}
